<h1>Estimer votre bien immobilier</h1>
<p>Sur Saint Maur Des Fossés</p>

<h3>Import Lands</h3>
	<%= form_tag import_lands_path, multipart: true do %>
  		<%= file_field_tag :file %>
  		<%= submit_tag "Upload lands" %>
	<% end %>
