@import "bootstrap-sprockets";
@import "bootstrap";

body { padding-top: 20px; }
.container {
  max-width: 940px;
}

.address {
  border: 1px solid grey;
  background-color: lightgrey;
  color: #4169e1;
  margin:30px;
}

.text {
  font-size: 18px;
}

.red {
  color:red;
}

.bold {
  font-weight: bold;
}

.photo {
  margin-bottom:50px;
}

.signature {
  margin:30px;
  font-size: 18px;
}

.page {

  overflow: hidden;
  display:block;
  clear:both;
  page-break-after: always;
}

